* {
    margin: 0px;
    padding: 0px;
}

div .before {
    background-image: url("tierra.jpeg");

}

div .after {
    background-image: url("tierra2.jpeg");

}

div .container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

div .middle {
    background-color: black;
    color: white;
    height: 30vh;
}

.content {

    position: relative;
    top: 50%;
    color: white;

}